---
import { Image, Picture } from "astro:assets";
import LogoImg from "../../assets/imgs/logo.svg"
---
<header class="header">
    <!-- Logo -->
    <a href="#" class="logo">
        <Picture class:list={"image"} src={LogoImg} alt="Characters Img" height={50}/>
    </a>
    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#characters">Personajes</a> </li>
            <li><a href="#region">Región Tontaria</a></li>
            <li><a href="#pokemon">Pokémon</a></li>
            <li><a href="#download">Descarga</a></li>
        </ul>
    </nav>
</header>
<style>
    /* Header */
    .header{
        background-color: var(--lightblue);
        box-shadow: 1px 1px 5px 0px var(--gray);
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    /* Logo */
    .logo{
        display: inline-block;
        color: var(--white);
        font-size: 60px;
        margin-left: 10px;
    }
    /* Nav menu */
    .nav{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: var(--lightblue);
        overflow: hidden;

    }

    .menu a{
        display: block;
        padding: 30px;
        color: var(--darkblue);
    }
    /* Change text color on hover */
    /* .menu a:hover {
        color: var(--hover-color); 
    } 
    */

    /* Fade in/out effect on hover */
    .menu a {
        opacity: 0.7; 
        transition: opacity 0.3s ease; 
    }
    .menu a:hover {
        opacity: 1; 
    }
    .nav{
        max-height: 0;
        transition: max-height .5s ease-out;
    }
    /* Menu Icon */
    .hamb{
        cursor: pointer;
        float: right;
        padding: 40px 20px;
    }/* Style label tag */

    .hamb-line {
        background: var(--darkblue);
        display: block;
        height: 2px;
        position: relative;
        width: 24px;

    } /* Style span tag */

    .hamb-line::before,
    .hamb-line::after{
        background: var(--darkblue);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hamb-line::before{
        top: 5px;
    }
    .hamb-line::after{
        top: -5px;
    }

    .side-menu {
        display: none;
    } /* Hide checkbox */
    /* Toggle menu icon */
    .side-menu:checked ~ nav{
        max-height: 100%;
    }
    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    body:has(.side-menu:checked) {
    overflow: hidden;
    }
    /* Responsiveness */
    @media (min-width: 768px) {
        .nav{
            max-height: none;
            top: 0;
            position: relative;
            float: right;
            width: fit-content;
            background-color: transparent;
        }
        .menu li{
            float: left;
        }
        .menu a{
            padding: 30px 20px;

        }

        .hamb{
            display: none;
        }

        .menu a:hover {
        transform: scale(1.3); /* Increase the size by 30% on hover */
    }
    }
    /* Define the slide animation */
    @keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    }

    /* Apply the animation to the menu items */
    .side-menu:checked~nav .menu a {
    animation: slideIn 0.5s forwards;
    }
</style>
<script is:inline>
     // Select the menu links and the checkbox
     document.addEventListener('click', (event) => {
        const sideMenu = document.getElementById('side-menu');
        if (event.target.matches('.menu a') && sideMenu) {
            sideMenu.checked = false; // Close the menu
        }
    });
</script>