---
const { title, class: className, ...rest } = Astro.props
---
<button class:list={["button", className]} {...rest}>{title}</button>

<style>
    .button{
        background-color: var(--accent);
        border: none;
        font-family: "Poppins", sans-serif;
        color: var(--white);
        padding: 0.2rem 2rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        border-radius: 3px;
    }
</style>