---
const { title, hreference, class: className, ...rest } = Astro.props
---
<a class:list={["button", className]} {...rest} href={hreference}>{title}</a>

<style>
    .button{
        background-color: var(--darkblue);
        border: none;
        font-family: "Poppins", sans-serif;
        color: var(--white);
        padding: 0.2rem 1rem;
        min-width: 200px;
        font-size: 1.4rem;
        text-transform: uppercase;
        border-radius: 3px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        box-sizing: border-box;
        height: 45px;
    }

    .button:hover{
        background-color: var(--darkblue2);
        cursor: pointer;
        color: #fff;
    }
</style>