---
import { Image, Picture } from "astro:assets";
import LinkLienImg from "../assets/imgs/Link_and_Lien.png"
---
<section id="characters" class="section section-light">
    <div  class="content-section">
        <div class="image-row">
            <div class="image-container">
                <Picture class:list={"image"} src={LinkLienImg} alt="Characters Img" height={300}/>
            </div>
        </div>
        <div class="text-row">
            <div class="text-container">
                <h2>Conoce a los protagonistas</h2>
                <p>Como nuevo ayudante de laboratorio del profesor Jp, tu labor será recorrer la región recopilando información sobre los diferentes Pokémon.</p>
                <p>Por el camino te encontrarás con los viejos amigos del profesor Jp. Y tendrás que desenmascarar a un grupo de villanos que amenzan el equilibrio del mundo.</p>
            </div>
        </div>
    </div>
</section>
<style>
    .section{
        display: flex;
        justify-content: center;
        padding-top: 3rem;
    }

    .content-section {
        max-width: 960px;
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
    }

    .section-dark {
        background-color: #444;
        color: #fff;
    }

    .section-light {
        background-color: var(--white);
        color: var(--darkblue);
    }

    .text-row{
        padding: 0rem;
    }

    .text-container {
        border: var(--accent) solid 2px;
        border-radius: 5px;
        padding: 1.8rem;
    }

    .text-container h2 {
        
    }

    .text-container p {
        margin-top: 1rem;
    }


    .image-row{
    }

    .image-container{
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
    }

    .image{
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .content .text-row h2 {
        margin-bottom: 1rem;
    }

    /* Responsive Design - full screen */
    @media (min-width: 768px) {
        .content-section {
            flex-direction: row;
            display: flex;
            gap: 16px;
            padding: 3rem 1rem;
        }

        .text-row{
            flex-basis: 50%;
        }

        .image-row{
            flex-basis: 50%;
            margin-top: 0;
        }
    }
</style>