---
import { Image, Picture } from "astro:assets";
import GameboxImg from "../assets/imgs/gamebox.png"
import Button from "../components/Button.astro";
---
<section id="download" class="section section-dark">
    <h2 class="title" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">Disponible Próximamente</h2>
    <div  class="content-section">
        <div class="image-row">
            <div class="image-container" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <Picture class:list={"image"} src={GameboxImg} alt="Characters Img" height={300}/>
            </div>
        </div>
        <div class="text-row">
            <div class="text-container"  data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                <p>¡Descarga ya el juego y comienza tu aventura!</p>
                <p>
                    El mundo de los Pokémon te espera: 
                    entrena a tu equipo, recorre la Región de Tontaria y disfruta de las nuevas funcionalidades multijugador.
                </p>
                <p><a href="guia_del_juego.pdf" target="_blank" class="guide-link">Guía del juego</a> en PDF ya disponible</p>
                <!-- Update the id with the id of the file you want to share, and ensure the security preferences are in "vaialbale for everyone with the link" -->
                <Button title="Descarga" class="download-button" hreference="https://drive.google.com/uc?export=download&id=1zv51aY_LbDRD2-WC3w-MhOiK_7OppyMO"/>
            </div>
        </div>
    </div>
</section>
<style>
    .title{
        text-align: center;
        margin-top: 2rem;
    }

    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-section {
        max-width: 960px;
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        align-items: center;
        justify-content: center;
        gap: 1.5rem
    }
    .section-dark {
        background-color: var(--lightblue);
        color: var(--darkblue);
    }

    .section-light {
        background-color: var(--white);
        color: var(--darkblue);
    }

    .text-row{
        padding: 0rem;
    }

    .text-container {
        color: var(--darkblue);
        background-color: var(--white);
        padding: 2rem;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .text-container h2 {
        
    }

    .text-container p {
        margin-top: 1rem;
    }

    .image-row{
    }

    .image-container{
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
    }

    .image{
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .content .text-row h2 {
        margin-bottom: 1rem;
    }

    .guide-link{
        color: var(--accent);
    }

    .guide-link:hover{
        text-decoration: underline;
    }

    .download-button{
        margin-top: 2rem;
        background-color: var(--accent);
        position: relative;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .alert{
        position: relative;
        margin-top: -30px;
        font-weight: 600;
    }

    .download-button:hover {
        background-color: var(--accent2);
        transform: scale(1.1);
        transition: 0.2s;
    }

    /* Responsive Design - full screen */
    @media (min-width: 768px) {
        .content-section {
            flex-direction: row-reverse;
            display: flex;
            gap: 16px;
            padding: 3rem 2rem;
        }

        .text-row{
            flex-basis: 50%;
        }

        .image-row{
            flex-basis: 50%;
            margin-top: 0;
        }

        .download-button, .alert{
            align-self: flex-end;
            margin-right: -70px;
        }
    }
</style>