---
import { Image } from "astro:assets";
import InicialAguaImg from "../assets/imgs/inicial_agua.png"
import InicialFuegoImg from "../assets/imgs/inicial_fuego.png"
import InicialPlantaImg from "../assets/imgs/inicial_planta.png"
---
<section id="characters" class="section section-light">
    <div  class="content-section">
        <div class="image-row">
            <div class="triangle-top">
                <div class="image-container">
                    <Image src={InicialPlantaImg} alt="Characters Img" width={150}/>
                </div>
            </div>
            <div class="triangle-bottom">
                <div class="image-container">
                    <Image src={InicialAguaImg} alt="Characters Img" width={150}/>
                </div>
                <div class="image-container">
                    <Image src={InicialFuegoImg} alt="Characters Img" width={150}/>
                </div>
            </div>
            <!-- <div class="image-container">
                <Image src={InicialAguaImg} alt="Characters Img" width={100}/>
            </div> -->
        </div>
        <div class="text-row">
            <div class="text-container">
                <h2>Descubre los nuevos Pokémon</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellat, excepturi ratione rerum rem esse omnis natus dolore! Magni, assumenda?</p>
            </div>
        </div>
    </div>
</section>
<style>
    .section{
        display: flex;
        justify-content: center;
    }

    .content-section {
        max-width: 960px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }

    .section-dark {
        background-color: #444;
        color: #fff;
    }

    .section-light {
        background-color: #fff;
        color: #333;
    }

    /* .content {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        max-width: 80rem;
    } */

    .text-row{
        padding: 0rem;
    }

    .text-container {
        border: #000 solid 1px;
        border-radius: 3px;
        padding: 1.8rem;
    }

    .text-container h2 {
        
    }

    .text-container p {
        margin-top: 1rem;
    }

    .image-row{
        margin-top: 10px;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .triangle-top{
    }
    .triangle-bottom{
        display: flex;
        gap: 50px;
    }

    .image-container{
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 15px solid #ddf;
        background-color: #cce;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    Image{
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.5rem;
    }

    .content .text-row h2 {
        margin-bottom: 1rem;
    }

    /* Responsive Design - full screen */
    @media (min-width: 768px) {
        .content-section {
            flex-direction: row;
            display: flex;
            gap: 16px;
        }

        .text-row{
            flex-basis: 50%;
        }

        .image-row{
            flex-basis: 50%;
            margin-top: 0;
        }
    }
</style>