---
import { Image, Picture } from "astro:assets";
import MapImg from "../assets/imgs/map.png"
---
<section id="region" class="section section-dark">
    <div  class="content-section">
        <div class="image-row">
            <div class="image-container">
                <Picture class:list={"image"} src={MapImg} alt="Characters Img"/>
            </div>
        </div>
        <div class="text-row">
            <div class="text-container">
                <h2>Explora la Región de Tontaria</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellat, excepturi ratione rerum rem esse omnis natus dolore! Magni, assumenda?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellat, excepturi ratione rerum rem esse omnis natus dolore! Magni, assumenda?</p>
            </div>
        </div>
    </div>
</section>
<style>
    .section{
        display: flex;
        justify-content: center;
    }

    .content-section {
        max-width: 960px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        gap: 1.5rem
    }

    .section-dark {
        background-color: var(--lightblue);
        color: var(--darkblue);
    }

    .section-light {
        background-color: var(--white);
        color: var(--darkblue);
    }

    .text-row{
        padding: 0rem;
    }

    .text-container {
        color: var(--darkblue);
        background-color: var(--white);
        padding: 2rem;
        border-radius: 3px;
    }

    .text-container h2 {
        
    }

    .text-container p {
        margin-top: 1rem;
    }

    .image-row{
    }

    .image-container{
        /* background-color: yellow; */
    }

    .image{
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        max-height: 270px;
    }

    .content .text-row h2 {
        margin-bottom: 1rem;
    }

    /* Responsive Design - full screen */
    @media (min-width: 768px) {
        .content-section {
            flex-direction: row-reverse;
            display: flex;
            gap: 16px;
            padding: 3rem 1rem;
        }

        .text-row{
            flex-basis: 50%;
        }

        .image-row{
            flex-basis: 50%;
            margin-top: 0;
            margin-left: -56px;
        }
    }
</style>