---
import { Image, Picture } from "astro:assets";
import MapImg from "../assets/imgs/map.png"
---
<section id="region" class="section section-dark">
    <div  class="content-section">
        <div class="image-row" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
            <div class="image-container">
                <Picture class:list={"image"} src={MapImg} alt="Characters Img"/>
            </div>
        </div>
        <div class="text-row" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
            <div class="text-container">
                <h2>Explora la Región de Tontaria</h2>
                <div class="accent-line"></div>
                <p>
                    Una nueva región por explorar, coge tu mochila y lánzate a la aventura. 
                    Nuevas localizaciones, viejos conocidos y secretos ocultos aguardan en tu camino.
                </p>
                <p>
                    Preparaté para embarcarte en un viaje que te llevará a recorrer cada rincón de Tontaría en busca de nuevas pistas.
                    Solo los entrenadores más habilidosos serán capaces de alzarse victoriosos.
                </p>
            </div>
        </div>
    </div>
</section>
<style>
    .section{
        display: flex;
        justify-content: center;
    }

    .content-section {
        max-width: 960px;
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        align-items: center;
        justify-content: center;
        gap: 1.5rem
    }

    .section-dark {
        background-color: var(--lightblue);
        color: var(--darkblue);
    }

    .section-light {
        background-color: var(--white);
        color: var(--darkblue);
    }

    .text-row{
        padding: 0rem;
    }

    .text-container {
        color: var(--darkblue);
        background-color: var(--white);
        padding: 2rem;
        border-radius: 3px;
    }

    .accent-line{
        width: 80px;
        height: 4px;
        background: var(--accent);
    }

    .text-container h2 {
        
    }

    .text-container p {
        margin-top: 1rem;
    }

    .image-row{
        z-index: 1;
    }

    .image-container{
        /* background-color: yellow; */
    }

    .image{
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        max-height: 270px;
    }

    .content .text-row h2 {
        margin-bottom: 1rem;
    }

    /* Responsive Design - full screen */
    @media (min-width: 768px) {
        .content-section {
            flex-direction: row-reverse;
            display: flex;
            gap: 16px;
            padding: 3rem 1rem;
        }

        .text-row{
            flex-basis: 50%;
        }

        .text-container{
            padding-right: 4rem;
        }

        .image-row{
            flex-basis: 50%;
            margin-top: 0;
            margin-left: -56px;
        }
    }
</style>