---
import Header from "./partials/Header.astro"
import Footer from "./partials/Footer.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Poketontadas</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); /* import font */

	:root{
		--white: #fffef3;
		--lightblue: #a0d1eb;
		--darkblue: #122854;
		--darkblue2: #284378;
		--accent: #bc112d;
		--accent2: #c62943;

	} /* variables*/

	/* Reset */
	html{
		box-sizing: border-box;
		scroll-padding-top: 5rem;
	}

	*, *:after, *:before{
		margin: 0;
		padding: 0;
		box-sizing: inherit;
		scroll-behavior: smooth;
	}

	body{
		background-color: var(--white);
		font-family: "Poppins", sans-serif;
	}
	a{
		text-decoration: none;
	}
	ul{
		list-style: none;
	}
</style>
