---
import Header from "./partials/Header.astro"
import Footer from "./partials/Footer.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Poketontadas</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

	:root{
		--white: #f9f9f9;
		--black: #36383F;
		--gray: #85888C;
	} /* variables*/

	/* Reset */
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		background-color: var(--white);
		font-family: "Poppins", sans-serif;
	}
	a{
		text-decoration: none;
	}
	ul{
		list-style: none;
	}
	h1 {
	color: #F00
	}
</style>
